<%- include('../partials/header') %>

  <header>
    <button id="create_button">
      <a href="/products/new">Create a New Product</a>
    </button>
    <p>
      <form id="searchForm" action="/products" method="GET">
        <input id="search_field" type="text" name="search" placeholder="Search for a product ...">
        <button id="submit_button" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </p>
  </header>
  
  
  <div class="card-container">
    <% if (noMatch !== undefined) { %>
      <h3><%= noMatch %></h3>
    <% } %>
    <% products.forEach(product => { %>
      <div class="card">
        <h1><%= product.name %></h1>
        <hr>
        <img src="<%= product.image %>" alt="<%= product.name %>">
        <p><%= product.description.substring(0, 195) %> ...</p>
        
        <hr>
        <div class="card-bottom">
          <a><p id="date"><em><%= moment(product.createdAt).fromNow() %></em>.</p></a>
          <a href="/products/<%= product._id %>">More Info</a>
        </div>
      </div>
    <% }) %>
  </div>

<%- include('../partials/footer') %>