<%- include('../partials/header') %>

  <div class="card-container">
    <% products.forEach(product => { %>
      <div class="card">
        <h1><%= product.name %></h1>
        <hr>
        <img src="<%= product.image %>" alt="<%= product.name %>">
        <p><%= product.description.substring(0, 200) %> ...</p>
        
        <a href="/products/<%= product._id %>">More Info</a>
      </div>
    <% }) %>
  </div>

<%- include('../partials/footer') %>