<%- include('../partials/header') %> 

  <div class="show-container">
    <h1><%= product.name %></h1>
    <hr>
    <img src="<%= product.image %>" alt="<%= product.name %>">
    <p><%= product.description %></p>

    <!-- Comments -->
    <% product.comments.forEach(comment => { %>
      <div class="author-box">
        <p id="comment-author"><%= comment.author.toUpperCase() %></p>
        <hr>
        <p><%= comment.text %></p>
        <a><p id="date"><em><%= moment(comment.createdAt).fromNow() %></em>.</p></a>
      </div>
    <% }) %>
    

    <div class="btn">
      <button><a href="/products/<%= product._id %>/edit">Edit</a></button>
      <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form>
    </div>

    <a href="/products"><< Go Back</a>
  </div>

<%- include('../partials/footer') %> 