<%- include('../partials/header') %> 

  <div class="show-container">
    <h1><%= product.name %></h1>
    <hr>
    <img src="<%= product.image %>" alt="<%= product.name %>">
    <p><%= product.description %></p>

    <a href="/products"><< Go Back</a>
  </div>