<%- include('../partials/header') %> 

  <div class="show-container">
    <div class="post">
      <h1><%= product.name %></h1>
      <hr>
      <img src="<%= product.image %>" alt="<%= product.name %>">
      <p>
        <em>Submit by:  
          <a href="#">
            <strong><%= product.author.username %></strong>
          </a>
        </em>
      </p>
      <p><%= product.description %></p>

      <% if (currentUser && product.author.id.equals(currentUser._id)) { %>
        <button id="edit-button">
          <a href="/products/<%= product._id %>/edit">Edit</a>
        </button>
  
        <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
          <button id="delete-button">Delete</button>
        </form>
      <% } %>

      <button style="padding: 2px 10px;">
        <a style="color: green;" href="/products/<%= product._id %>/comments/new">Add a Comment</a>
      </button>
    </div>

    <!-- Comments -->
    <% product.comments.forEach(comment => { %>
      <div class="author-box">
        <p id="comment-author"><%= comment.author.username.toUpperCase() %></p>
        <hr>
        <p><%= comment.text %></p>
        <a><p id="date"><em><%= moment(comment.createdAt).fromNow() %></em>.</p></a>

        <div class="btn">
          <button>
            <a href="/products/<%= product._id %>/comments/<%= comment._id %>/edit">
              Edit
            </a>
          </button>
          <form action="/products/<%= product._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  
    <a href="/products"><< Go Back</a>
  </div>

<%- include('../partials/footer') %> 